h1 {
    font-family: 'EB Garamond', serif;
    margin: auto;

}

h1 {
    font-size: 50px;
}

.blue-color {
    color: teal;
}

section {
    display: flex;

}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(teal, rgb(92, 76, 92));
    color: rgb(245, 239, 239);
    padding: 10px 30px;
    border-radius: 10px;
}

.mission1-item {
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.349);
    border-radius: 10px;
}


.mission1-item img {
    width: 50%;
    margin-left: 0%;
}

.mission2-item {
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    background-color: rgba(255, 182, 193, 0.363);
    border-radius: 10px;
}


.mission2-item img {
    width: 50%;
    margin-left: 0%;
}

.mission3-item {
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    background-color: rgba(153, 205, 50, 0.349);
    border-radius: 10px;
}


.mission3-item img {
    width: 50%;
    margin-left: 0%;
}